.App {
  text-align: center;
}

.App-content {
  position: relative;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.person {
  background-color: #000000;
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 90vh;
  padding: 1rem;
  border-radius: 11px;
}

.foto {
  width: 150px;
  height: 150px;
  border-radius: 20rem;
  border: 5px solid #24abd0;
}

.person p {
  font-size: 1.5rem;
}

.person-link {
  color: #61dafb;
}

.counter {
  background-color: #24abd0;
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}

.counter:hover {
  box-shadow: 5px 5px 25px #24abd0c2;
  transform: translateY(-3px);
}

.counter p {
  font-size: 4rem;
  margin: 0;
}

.counter button {
  margin: 1rem;
  padding: 0 1rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #fff;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
}